{% macro render_pagination(pagination) %}
<ul class="pagination text-center" role="navigation" aria-label="Pagination" itemscope itemtype="http://schema.org/SiteNavigationElement/Pagination">
  {% if pagination.has_prev %}
  <li class="pagination-previous disabled">
    <a href="{{ pagination.prev|url }}">&laquo; Předchozí</a>
  </li>
  {% endif %}
  <li class="current">
    {{ pagination.page }}
  </li>
  {% if pagination.has_next %}
  <li class="pagination-previous disabled">
    <a href="{{ pagination.next|url }}">Next &raquo;</a>
  </li>
  {% else %}
    <span class="disabled">Next &raquo;</span>
  {% endif %}
</ul>
{% endmacro %}



