{% extends "layout.html" %}
{% from "macros/blog.html" import render_blog_post %}
{% from "macros/pagination.html" import render_pagination %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
<div class="row">
  <div class="small-12 columns">
    <h1 class="page__headline">{{this.title}}</h1>
  </div>
</div>
<div class="row" id="content">
  <div class="small-12 medium-8 columns">
    {% for child in this.pagination.items %}
    {{ render_blog_post(child, from_index=true) }}
    {% endfor %}

    {{ render_pagination(this.pagination) }}
  </div>
  <div class="medium-4 show-for-medium columns">
    <a class="twitter-timeline" data-lang="cs" data-height="1200" data-dnt="true" data-theme="light" href="https://twitter.com/ondrej_profant?ref_src=twsrc%5Etfw">Tweets by ondrej_profant</a> 
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
  </div>
</div>
{% endblock %}