{% extends "layout.html" %}
{% block title %}Kategorie{% endblock %}
{% block body %}

{% set cats = site.query('/blog-categories') %}    

<div class="row collapse">
    <div class="medium-3 columns">
      <ul class="vertical tabs" data-tabs id="kategorie" data-deep-link="true" data-update-history="true" data-deep-link-smudge="true" data-deep-link-smudge-delay="500">
        {% for cat in cats %}
        <li class="tabs-title{% if loop.first %} is-active{%endif%}">
          <a href="#{{cat._id}}"{%if loop.first%} aria-selected="true"{%endif%}>{{cat.name}}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="medium-9 columns">
      <div class="tabs-content" data-tabs-content="kategorie">
        {% for cat in cats %}
        <div class="tabs-panel{%if loop.first%} is-active{%endif%}" id="{{cat._id}}">
          <h2>{{cat.name}}</h2>
          {% if not cat.children %}
          <p>Litujeme, ale v této kategorii nejsou žádné články.</p>
          {% endif %}
          {% for post in cat.children%}
          <p>{{cat.name}}: <a href="{{post|url}}">{{post.title}}</a></p>
          {%endfor%}
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}