{% extends "layout.html" %}
{% from "macros/categories.html" import render_category_nav,
   render_project_list %}
{% block title %}Kategorie: {{ this.name }}{% endblock %}
{% block body %}
<article class="page">
    <div class="row">
      <div class="small-12 columns">
        <h1 class="page__headline">{{this.title}}</h1>
      </div>
    </div>
    <div class="row" id="content">
      <div class="small-12 medium-8 columns">
          <h1>Kategorie: {{ this.name }}</h1>
          <h2>Kategorie</h2>
          {{ render_category_nav(active=this._id) }}
          <h2>Články</h2>
          {{ this.body }}
          {{ render_project_list(this.children) }}
      </div>
      <div class="medium-4 show-for-medium columns">
        <a class="twitter-timeline" data-lang="cs" data-height="1200" data-dnt="true" data-theme="light" href="https://twitter.com/ondrej_profant?ref_src=twsrc%5Etfw">Tweets by ondrej_profant</a> 
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
      </div>
    </div>
</article>
{% endblock %}